PORT=4000
NODE_ENV=development

JWT_SECRET=super_secret_key_123456
JWT_EXPIRES_IN=1d

# Database
DB_KIND=postgres

DATABASE_URL=postgresql://postgres.ywiroprfuldqxhezzrlm:ZhHRyWRciSpprbG4@aws-0-eu-west-1.pooler.supabase.com:5432/postgres

# SQLite fallback (не се използва сега)
DB_PATH=./data/app.db

# CORS
CORS_ORIGIN=*

# EmailJS
EMAILJS_SERVICE_ID=service_c88d2do
EMAILJS_TEMPLATE_ID_RESET=template_djd5hbw
EMAILJS_PUBLIC_KEY=oj1LyYs-QHqc7enhg
EMAILJS_PRIVATE_KEY=uhFBzMsVr0XZcfmDwdIeI
